@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');


:root {
    --violet: #d33bfd;
}


body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: white;

}

header {
    background: linear-gradient(#13181d, #20212e, #341b47);
}

header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5% 0 5%; 
}

header nav h1 {
    margin: 0;
    text-transform: uppercase;
    color: var(--violet);
}

header nav .right{
    display: flex;
    align-items: center;
}

header nav .right p{
    margin: 0 15px 0 0;
    color: #ccc;
}

header nav .right p:hover {
    color: white;
    cursor: pointer; 
}

header nav .right button {
    padding: 5px 15px;
    font-size: 16px;
    background: inherit;
    border: 1px solid var(--violet);
    color: var(--violet);
    border-radius: 10px;
    cursor: pointer;
    transition: color 0.5s, background-color 0.5s;
}

header nav .right button:hover {
    color: inherit;
    background-color: var(--violet);
}

.presentation {
    padding: 30px 5%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.presentation .product-presentation {
    width: 100%;
    flex-shrink: 3;
}

.presentation .product-presentation h1 {
    margin: 0;
    font-size: 4vw;
    width: 80%;
}

.presentation .product-presentation p {
    font-weight: 300;
    color: #e9e9e9
}

.presentation .product-presentation button {
    margin-top: 20px;
    padding: 15px 20px;
    font-size: 15px;
    border-radius: 15px;
    border: none;
    outline: none;
    cursor: pointer;
}

.presentation .image-presentation {
   /*width: 100px;*/
}

.first .product-presentation button {
    background-color: var(--violet);
    border: 1px solid var(--violet);
    color: white;
    transition: background-color 0.5s, color 0.5s;

}

.first .product-presentation button:hover {
    background-color: inherit;
    color: var(--violet);
    cursor: pointer;
}

.first .product-presentation .small-images {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.first .product-presentation .small-images .small {
    padding: 20px;
    background-color: #33314d;
    margin: 0 15px 15px 0;
    border-radius: 20px;
    transition: filter 0.5s;

}

.first .product-presentation .small-images .small:hover {
    filter: brightness(50%);
}

.first .product-presentation .small-images img {
    width: 120px;
}

.second {
    margin: 0;
    background-color: #13181d;
}

.second .product-presentation .new {
    color: var(--violet);
}

.second .product-presentation button{
    background-color: inherit;
    color: var(--violet);
    border: 1px solid var(--violet);
    transition: background-color 0.5s, color 0.5s;
}

.second .product-presentation button:hover {
    background-color: var(--violet);
    color: white;
}

footer {
    margin: 0;
    padding: 20px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

footer h3 {
    color: var(--violet);
}

footer p {
    cursor: pointer;
    color: #ccc;
}

footer p:hover {
    color: white;
    transition: color 0.5s;
}

@media screen and (max-width: 640px) {
    header nav .right p{
        display: none;
    }

    .presentation .product-presentation h1 {
        font-size: 2em;
    }

    .presentation .image-presentation {
        display: none;
    }

    .first .product-presentation .small-images img{
        width: 90px;
    }

    footer {
        justify-content: center;
    }

    footer .column {
        width: 80%;
    }
}